*{
    margin: 0;
    padding: 0;
}
.SetNick{
    left: 0px;
    top: 0px;
    position: fixed;
    width: 99.99vw;
    height: 100vh;
    background-color: red;
}
.hidden{
    position:fixed;
    left: 5000px;
}
.glowne_body{
    background-color:green; 
    background-image: url(../img/tło_główne.png);
    background-size: 100%;

}

.las_body{
    background-image: url(../img/Las_tło.jpg);
    background-size: 100%;
}

.kopalnia_body{
    background-image: url(../img/kopalnia_tło.jpg);
    background-size: 100%;
}

.kowal_body{
    background-image: url(../img/kowal_tło.jpg);
    background-size: 100%;
}

.error{
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.przejscia{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 25% 30% 0 30%;
}

.przejscia2{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 5% 30% 0 30%;
}

.ikona_dreno{
display: flex;
justify-content: center;
margin-top: 10%;
}
.drewnoo
{
    background-image: url(../img/Drzewo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50vw; height: 50vh;
}

.ikona_zelazo{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    }

.zelazoo
{
    background-image: url(../img/kowadło.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50vw; height: 50vh;
}

.ikona_kamien{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    }

.kamienn
{
    background-image: url(../img/kamień.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50vw; height: 50vh;
}

.stats{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    margin: 2.5% 15% 0 15%;
}