*{
    margin: 0;
    padding: 0;
}

body{background-color: #000000;color: white; font-family: 'Courgette', cursive;}

.SetNick{
    background-image: url(../img/nick_tło.jpg);
    background-size: cover;
    left: 0px;
    top: 0px;
    position: fixed;
    width: 99.99vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
}

.zawartosc{
    width: 99.99vw;
    height: 50vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.hidden{
    position:fixed;
    left: 5000px;
}
.glowne_body{
    background-image: url(../img/tlo_glowne.jpg);
    background-size: cover;

}

.tlowioska{
    background-image: url(../img/wioska_tło.jpg);
    background-size: cover;
    border: 15px solid rgb(110 ,64 ,48);
    border-radius:20px;
    position: fixed;
 margin-left: calc(50% - 30.5vw);
        top: 205px;
        width: 61.25vw;
        height: 640px;
}



.error{
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.przejscia{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 16% 15% 0 15%;
}
.ulepszenia{
    background-image: url(../img/wiszaca_belka.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 10vw;
    height: 75vh;
    margin-top: 5%;
}

.przejscia2{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 5% 30% 0 30%;
}

.ikona_dreno{
display: flex;
justify-content: center;
margin-left: 150px;
margin-top: 15%;
}
.drewnoo
{
    background-image: url(../img/Drzewo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50vw; height: 50vh;
}

.ikona_zelazo{
    display: flex;
    justify-content: center;
    margin-left: 150px;
margin-top: 14%;
    }

.zelazoo
{
    background-image: url(../img/kowadło.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50vw; height: 50vh;
}

.ikona_kamien{
    display: flex;
    justify-content: center;
    margin-left: 150px;
margin-top: 14%;
    }

.kamienn
{
    background-image: url(../img/kamień.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50vw; height: 50vh;
}

.staty{
    background-color: rgb(110 ,64 ,48);
    border: 1px solid peru;
    box-shadow: 0px 5px 5px black;
    padding: 3px 5px 3px 5px;
    width: auto;
    display: flex;
    align-items: center;
}
.stats{
    display: flex;
    justify-content: space-between;
    margin: 4.5% 15% 0 15%;
}



.statstlo{
    background-image: url(../img/belka.png);
    background-size: cover;
    position: fixed;
    top: 0px;
    width: 99.98vw;
    height: 20vh;
    margin-top: 0px;
}

.odrewno{
    width: 30px;
    height: 30px;
    margin-right: 2px;
}

.img{
    width: 30px;
    height: 30px;
}

.log{
    margin: 5px;
    background-color: rgb(110 ,64 ,48);
    border: 5px solid peru;
    height: 50px;
    width: 400px;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    color: peru;
    text-align: center;
    box-shadow: 0px 5px 5px black;
    }

    .przycisk1{
        background-color: rgb(110 ,64 ,48);
        border: 5px solid peru;
    height: 50px;
    width: 100px;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    color: peru;
    text-align: center;
    box-shadow: 0px 5px 5px black;
    }

    .napis{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        font-family: 'Courgette', cursive;
        color: black;
    }
    .napis2{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        font-family: 'Courgette', cursive;
        color: black;
    }

    .okno1-hide {
        position: fixed;
        left: 5000px;
    }

    .okno1-show{
        position: fixed;
        background-image: url(../img/las_tło.jpg);
    background-size: cover;
        left: calc(50% - 29.8vw);
        top: 219px;
        width: 61.25vw;
        height: 640px;
        border: 1px solid goldenrod;
    }
    #okno1{
        display: flex;
    }

    .okno2-hide {
        position: fixed;
        left: 5000px;
    }

    .okno2-show{
        position: fixed;
            background-image: url(../img/tło_kopalnia.jpg);
            left: calc(50% - 29.8vw);
            top: 219px;
        width: 61.25vw;
        height: 640px;
        border: 1px solid goldenrod;
    }
    #okno2{
        display: flex;
    }

    .okno3-hide {
        position: fixed;
        left: 5000px;
    }

    .okno3-show{
        position: fixed;
        background-image: url(../img/kowal_tło.jpg);
        background-size: cover;
        left: calc(50% - 29.8vw);
        top: 219px;
        width: 61.25vw;
        height: 640px;
        border: 1px solid goldenrod;
    }
    #okno3{
        display: flex;
    }

    .x{
        font-family: Arial, sans-serif;
        position: absolute;
        margin: 5px;
        right: 0;
        top: 0;
        background-color: rgba(237, 59, 65, 0.38);
        color: white;
        
    }

    .x:hover{
        border: 1px solid goldenrod;
        transition: 1s;
    }

    .przycisk{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 30px;
        margin-left: 5px;
        background-color: rgb(110 ,64 ,48);
        border: 5px solid peru;
    height: 50px;
    width: 150px;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    color: peru;
    text-align: center;
    box-shadow: 0px 5px 5px black;
    text-decoration: none;
    }

    .przycisk2{
        
        margin-top: 100px;
        margin-left: 5px;
        background-color: rgb(110 ,64 ,48);
        border: 5px solid peru;

    height: 50px;
    width: 150px;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    color: peru;
    text-align: center;
    box-shadow: 0px 5px 5px black;
    
    }

    .handluj{
        color: peru;
        text-decoration: none;
    }

    .zloto1{
        color: peru;
        font-size: 20px;
        text-decoration: none;
    }

    .ustawienia{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: fixed;
        bottom: 100px;
        left: 88%;
    }

    .przycisk_ustawienia{
        margin-top: 30px;
        display: block;
    }

    .przycisk3{
        margin-top: 30px;
        margin-left: 5px;
        background-color: rgb(110 ,64 ,48);
        border: 5px solid peru;
    height: 50px;
    width: 150px;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    color: peru;
    text-align: center;
    box-shadow: 0px 5px 5px black;
    text-decoration: none;
    }
    /* Notyfikacje */
    #notifications{
        z-index: 100;
        left: 45%;
        top: 50%;
        position: fixed;
        font-size: 3rem;
        color: rgb(255, 255, 255);
        /* background-color: rgb(0, 0, 0); */
    }
    .notification{
        /* animation: notification 2.5 infinite linear; */
        animation: notification 2.5s infinite linear;
    }
    @keyframes notification {
        0% {
            top: 70%;
        }
        85%{
            background-color: rgba(218, 165, 32, 0);
            color: #00000000;
        }
        100%{
            top: 80%;
        }
    }
   