
    body{background-color: #000000;color: white;}
    .stats{display: flex;}
    .stats h4{margin: 10px;}

    .rekrutuj-hide {
        position: fixed;
        left: 5000px;
    }
    .rekrutuj-show{
            position: fixed;
            left: calc(50% - 35vw);
            top: 100px;
            width: 70vw;
            height: 600px;
            border: 1px solid goldenrod;
        }
        #jednostka{
            display: flex;
        }

    .zbierz-zloto-hidden{
        position: fixed;
        right: 50000px;
    }

    .x{
        font-family: Arial, sans-serif;
        position: absolute;
        margin: 5px;
        right: 0;
        top: 0;
        background-color: rgba(237, 59, 65, 0.38);
        color: white;
        
    }
    .x:hover{
        border: 1px solid goldenrod;
        transition: 1s;
    }

    .okno-hide{
        position: fixed;
        right: 50000px; 
    }
    .okno-show{
        position: fixed;
        top: 100px;
        width: 70vw;
        left: calc(50% - 35vw);
        max-width: 800px;
        height: 600px;
        border: 1px solid goldenrod;
        background-color: black;
        z-index: 2;
    }
    @media only screen and (min-device-width: 1150px) {
       .okno-show{
        width: 800px;
        left: calc(50% - 400px);
    } 
    }
    .zbiory-zlota
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

    }
    .button:hover{
        transition: 0.32s;
        font-size: 1.25rem;
    }
    .button{
        transition: 0.32s;
        font-size: 1.5rem;
        font-family: Arial, sans-serif;
        font-weight: 30;
        color: rgb(137, 137, 137);
        padding: 7px;
        background-color: #00000000;
        border: 1px solid goldenrod;
        border-radius: 10px;
    }
    section{
        display: flex;
        justify-content: center;
        height: 98vh;
    }
    .stats{
        position: fixed;
    }
    .img-zloto img{
        width: 600px;
        height: 600px;
        position: absolute;
    }
    .img-zloto{
        width: 600px;
        height: 600px;
    }
    .zlotoo{
        padding-top: 100px;
        
    }
    .kup-jednostke{
        position: fixed;
    }
    @keyframes fall {
        0% {
        top: -100px;
        }
        100%{
          top: 50%;  
        }
    }
    .hidden{
        position: fixed;
        right: 50000px; 
    }
    .fall{
        position: absolute;
        left: 45%;
        top: 35%;
        animation: fall 2.5s infinite linear;
    }
    #zloto{
        width: 100px;
        height: 100px;
        z-index: 0;
    }
    .img-zloto img:nth-child(2){
        z-index: 1;
    }
    button {
        transition: 0.32s;
        font-size: 1.5rem;
        font-family: Arial, sans-serif;
        font-weight: 30;
        color: rgb(137, 137, 137);
        padding: 7px;
        background-color: #00000000;
        border: 1px solid goldenrod;
        border-radius: 10px;
    }
    .gornik-img img
    {
        width: 100%;
        height: 100%;
    }
    .za-ile{
        text-align: center;
        font-size: 2rem;
        position: relative;
        bottom: 100px;
        
    }
